.meal-recipe-generator-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: break-word;

    & .current-text-container {
        font-size: 20px;
    }
    
    
    & .floating-text {
        position: fixed;
        animation: fadeInOut 1s forwards;
    }
}
