.meal-recipe-generator-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: break-word;
    padding-bottom: var(--top-nav-height);

    & .info-container {
        z-index: 2;
        width: auto;
        height: auto;
        background-color: var(--pretty-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: var(--pretty-border-radius);

        & .current-text-container {
            font-size: 2rem;
            font-weight: bold;
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: var(--pretty-border-radius);
        }
        
        & .start-stop-button {
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5rem;
            margin: 0.5rem;
            letter-spacing: 0.1rem;
            border-radius: var(--pretty-border-radius);
        }
    }
    
    & .floating-text {
        z-index: 1;
        font-weight: var(--pretty-font-weight);
        position: fixed;
        animation: fadeInOut 1s forwards;
    }
}
